@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "Hakkında";
}
<div class="content-page">
    <div class="content">
<div class="container-fluid">

    <!-- start page title -->

    <div class="row">
        <div class="col-12 mt-4">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Hakkında</h4>
                    <p class="sub-header">
                        Depremyardimlari.org projesi herkese açık olarak geliştirilmektedir. Projeye fiilen dahil olmak ve ekiple tanışmak için Github adresimizi kullanabilirsiniz.
                                <br /><br /><a href="https://github.com/aokocax/DepremYardimlari">Proje Github Adresi</a><br />

                                <br />
                                <strong>Ekibimiz:</strong><br />
                                <a href="https://www.linkedin.com/in/ozandemirci/" target="_blank">Ozan Demirci</a> <br />
                                <a href="https://www.linkedin.com/in/aokocax/" target="_blank">
                                    Ahmet Oğuz Koca</a><br />
                               

                                
                      </p>

        

                    <div class="clearfix"></div>
                </div>
            </div> <!-- end card-->

           

        </div> <!-- end col -->

    </div>
    <!-- end row -->

</div>

    </div>
    <!-- end row -->

</div>