@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Contact";
}
<!--Contact Section-->
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row">
                <div class="col-lg-12 mt-4">
                    <div class="card">
                        <div class="card-body">
                           
                            <div class="row">
                                <h4 class="header-title mb-3">İletişim</h4>
                                <form id="contact-form" class="row">
                                    <div class="col-lg-6">

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="name" placeholder="name@example.com">
                                            <label for="floatingInput">Ad Soyad</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="email" class="form-control" id="email" placeholder="name@example.com">
                                            <label for="floatingInput">E-posta Adresi</label>
                                        </div>

                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="phone" placeholder="name@example.com">
                                            <label for="floatingInput">Telefon</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-floating">
                                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                            <label for="floatingTextarea2">Mesaj</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group text-center margin-top-30 col-lg-12 col-md-6 col-sm-6 col-xs-12">
                                            <button type="button" id="bnt-contact" class="btn btn-primary waves-effect waves-light">Send</button>
                                        </div>
                                    </div>
                                </form>
                             <div id="contact-result" class="d-none">
                    Teşekkürler en kısa zamanda size dönüş yapmaya çalışacağız.
                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

    </div>
</div>

@section scripts
    {
        <script>
            //Contact Form Validation
            $('#bnt-contact').click( function() {
           
            var name = $("#username").val();
            var phone = $("#phone").val();
            var email = $("#email").val();
            var message = $("#floatingTextarea2").val();
            var message_from = $("#message-from").val();
            $.post("/home/contact", { name: name, company: phone, email: email, message: message, messageFrom: message_from }, function (data) {
                if (data.success) {
                    $("#contact-form").hide();
                    $("#contact-result").removeClass("d-none");

                }
            });
            
           });
          
           
        </script>

}

