@{
    ViewData["Title"] = "Depremzedeler için hangi firmaların ne kadar bağış yapacağını listeleyen websitesi?";
}


<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

         

            <div class="row mt-4">
               
                <div class="col-xl-12 ">
                    <div class="card">
                        <div class="card-body">
                            <div class="dropdown float-end">
                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end">
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Another action</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Something else</a>
                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item">Separated link</a>
                                </div>
                            </div>

                            <h4 class="header-title mt-0 mb-3">Deprem Yardımı Yapan Markalar</h4>

                            <div class="table-responsive">
                                <table class="table table-hover mb-0">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Marka Adı</th>
                                            <th>Yardım Türü</th>
                                            <th>Tarih</th>
                                            <th>Durum</th>
                                            <th>Kanıt</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>LCWaikiki</td>
                                            <td>Nakdi</td>
                                            <td>200.000.000TL</td>
                                            <td>Taahhüt</td>
                                            <td>TV</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>Adminto Frontend v1</td>
                                            <td>01/01/2017</td>
                                            <td>26/04/2017</td>
                                            <td><span class="badge bg-success">Released</span></td>
                                            <td>Adminto admin</td>
                                        </tr>
                                        

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div><!-- end col -->

            </div>
            <!-- end row -->

        </div> <!-- container -->

    </div> <!-- content -->
   

</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->
